<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/com.study.spring-beans.xsd">

    <import resource = "classpath:com.study.spring-datasource.xml" />

    <!-- 创建SqlSessionFactory；SqlSessionFactory是用来创建SqlSession的 -->
    <bean id = "sqlSessionFactory" class = "org.mybatis.com.study.spring.SqlSessionFactoryBean">
        <property name = "dataSource" ref="dataSource" />
        <property name = "configLocation" value="classpath:mybatis/mybatis-configuration-com.study.spring.xml" />
        <property name = "mapperLocations" value="classpath:mapper/**/*Mapper.xml" />
    </bean>

    <!-- 配置使用动态代理自动生成Dao的内容 -->
    <bean class="org.mybatis.com.study.spring.mapper.MapperScannerConfigurer">
        <property name = "basePackage" value="com.study.mybatis.dal.dao" />
        <property name = "sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
</beans>