<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource = "./mybatisGenerator.properties" />

    <context id = "mysql_tables" targetRuntime = "MyBatis3" defaultModelType = "flat">
        <commentGenerator type = "com.dranawhite.dal.mybatis.comment.DbCommentGenerator">
            <!-- 是否取消注释 -->
            <property name = "suppressAllComments" value = "false" />
            <property name = "suppressDate" value = "false" />
            <!-- 自定义配置, 自定义注释 -->
            <property name = "addRemarkComments" value = "true" />
            <property name = "author" value = "liangyq" />
            <property name = "version" value = "1.0" />
            <property name = "suppressCopyRight" value = "true" />
            <property name = "addLombokData" value = "true" />
            <property name = "suppressModelAlias" value = "false" />
        </commentGenerator>
        <!-- 注释控制完毕 -->

        <jdbcConnection driverClass = "${driverClass}"
                        connectionURL = "${connectionURL}"
                        userId = "${userId}"
                        password = "${password}">
        </jdbcConnection>
        <javaTypeResolver>
            <property name = "forceBigDecimals" value = "true" />
        </javaTypeResolver>

        <!-- 数据表对应的model 层  -->
        <javaModelGenerator targetPackage = "${entity}" targetProject = "${targetJavaPath}">
            <property name = "enableSubPackages" value = "false" />
            <property name = "trimStrings" value = "true" />
        </javaModelGenerator>
        <sqlMapGenerator targetPackage = "${mapper}" targetProject = "${targetResourcePath}">
            <property name = "enableSubPackages" value = "false" />
        </sqlMapGenerator>
        <javaClientGenerator type = "XMLMAPPER" targetPackage = "${dao}"
                             targetProject = "${targetJavaPath}">
            <property name = "enableSubPackages" value = "false" />
        </javaClientGenerator>

        <table tableName = "t_person" domainObjectName = "PersonDO"
               mapperName = "PersonMapper" enableCountByExample = "true"
               enableUpdateByExample = "true" enableDeleteByExample = "true"
               enableSelectByExample = "true" selectByExampleQueryId = "true"
               enableInsert="true"  enableSelectByPrimaryKey="true"
               enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />
    </context>
</generatorConfiguration>



